<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">
	<display-name>JobPortal</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ViewApplicantController</display-name>
		<servlet-name>ViewApplicantController</servlet-name>
		<servlet-class>com.JobPortal.Controller.ViewApplicantController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewJobsController</display-name>
		<servlet-name>ViewJobsController</servlet-name>
		<servlet-class>com.JobPortal.Controller.ViewJobsController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewAppliedStatusController</display-name>
		<servlet-name>ViewAppliedStatusController</servlet-name>
		<servlet-class>com.JobPortal.Controller.ViewAppliedStatusController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RecruiterViewJobsController</display-name>
		<servlet-name>RecruiterViewJobsController</servlet-name>
		<servlet-class>com.JobPortal.Controller.RecruiterViewJobsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewApplicantController</servlet-name>
		<url-pattern>/ViewApplicantController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewJobsController</servlet-name>
		<url-pattern>/ViewJobsController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewAppliedStatusController</servlet-name>
		<url-pattern>/ViewAppliedStatusController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecruiterViewJobsController</servlet-name>
		<url-pattern>/RecruiterViewJobsController</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
